name: Publish to NPM using OIDC

on: push

permissions:
  contents: read
  # Required for OIDC.
  id-token: write

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup NPM
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          registry-url: https://registry.npmjs.org/
          # scope: joonashak

      - name: Publish to NPM
        run: npm publish --access public
